---
---
@import "minima";

.site-title, h1, h2, h3, h4, h5, h6 {
    font-family: Serif;
    clear: both;
}

.site-title {
    padding-left: 4.5ex;
    background-image: url(/assets/images/logo-icon.png);
    background-size: 4ex;
    background-repeat: no-repeat;
    background-position-y: center;
}

h2, h3, h4, h5, h6 {
    margin-bottom: 0;
    border-top: 1px solid #ddd;
}

h2 {
    margin-top: 2em;
    border-top: 1px solid #aaa;
}

dl {
    margin-bottom: 3ex;
}

dt {
    margin-left: 1ex;
    font-weight: bold;
}

dd {
    margin-left: 5ex;
    margin-bottom: 1ex;
}

.page-content a {
    text-decoration: underline;
}

img.page-banner {
    width: 100%;
    border: 3px solid black;
    border-radius: 2px;
}

img.page-context-left {
    width: 40%;
    margin: 1ex;
    float: left;
    border: 3px solid black;
    border-radius: 2px;
}

img.page-context-right {
    width: 40%;
    margin: 1ex;
    float: right;
    border: 3px solid black;
    border-radius: 2px;
}

ul.post-list li {
    clear: both;
    padding-top: 2ex;
}

ul.post-list .post-link {
    font-size: 35px;
}

ul.post-list img.thumbnail {
    float: left;
    width: 20ex;
    margin: 1ex;
    border: 3px solid black;
    border-radius: 2px;
}

p.rss-subscribe {
    margin-top: 2ex;
    clear: both;
}


