---
---
@import "minima";

#contents {visibility: hidden}

#contents + ul {
  width: 50ex;
  float: left;
  ul { margin-left: 1em; }
}

.site-title, h1, h2, h3, h4, h5, h6 {
    font-family: Serif;
    clear: both;
}

.site-title {
    padding-left: 4.5ex;
    background-image: url(/assets/images/logo-icon.png);
    background-size: 4ex;
    background-repeat: no-repeat;
    background-position-y: center;
}

article {
  h2, h3, h4, h5, h6 {
    margin-top: 2em;
    margin-bottom: 0.5em;
    border-top: 1px solid #ddd;
  }
}

h2 {
    border-top: 1px solid #aaa;
}

dl {
    margin-bottom: 3ex;
}

dt {
    margin-left: 1ex;
    font-weight: bold;
}

dd {
    margin-left: 5ex;
    margin-bottom: 1ex;
}

.page-content a {
    text-decoration: underline;
}

img.page-banner {
    width: 100%;
    border: 3px solid black;
    border-radius: 2px;
}

img.page-context-left {
    width: 40%;
    margin: 1ex;
    float: left;
    border: 3px solid black;
    border-radius: 2px;
}

img.page-context-right {
    width: 40%;
    margin: 1ex;
    float: right;
    border: 3px solid black;
    border-radius: 2px;
}

ul.post-list li {
    float: left;
    width: 44ex;
    max-width: 100%;
    margin: 1ex;
}

ul.post-list img.thumbnail {
    float: right;
    width: 25ex;
    max-width: 50%;
    margin: 1ex;
    border: 3px solid black;
    border-radius: 2px;
}

p.rss-subscribe {
    margin-top: 2ex;
    clear: both;
}

.with-background-icon {
    margin-top: 1ex;
    margin-bottom: 2ex;
    padding-left: 4.5ex;
    background-image: url(/assets/images/logo-icon.png);
    background-size: 3.5ex;
    background-repeat: no-repeat;
    background-position-y: center;
}

dl.people dd {
    font-size: 14pt;
    padding-left: 8ex;
    padding-top: 3ex;
    padding-bottom: 3ex;
    background-size: 7ex;
}

.people-default {
    background-image: url(/assets/images/people/default.png);
}
.people-andy-v{
    background-image: url(/assets/images/people/2022-12-andy-v.jpg);
}
.people-brad-h {
    background-image: url(/assets/images/people/default.png);
}
.people-carlin-k {
    background-image: url(/assets/images/people/default.png);
}
.people-dean-c {
    background-image: url(/assets/images/people/2021-12-dean-c.jpg);
}
.people-leif-w{
    background-image: url(/assets/images/people/default.png);
}
.people-joe-l{
    background-image: url(/assets/images/people/2023-01-joe-l.jpg);
}
.people-daniel-b {
    background-image: url(/assets/images/people/default.png);
}
.people-zachary-b {
    background-image: url(/assets/images/people/default.png);
}
